$blue: #0094ff;
$blue-2: #0080ff;
$dark-blue: #363f5e;
$dark-blue-2: #14113e;
$light-green: rgba(18, 183, 106, 0.1);
$light-green-2: #ecfdf3;
$light-green-3: rgba(0, 181, 226, 0.1);
$green: #00ded1;
$dark-green: #4fc068;
$green-success: #12b76a;
$snow-white: #f9fafb;
$light-grey: #90a6ab;
$light-grey-2: #edeff0;
$grey: #607080;
$grey-2: #8a9395;
$grey-3: #65737d;
$grey-100: #f2f4f7;
$dark-grey: rgba(96, 112, 128, 0.4);
$dark-grey-2: #545c5d;
$red-danger: #d92d20;
$light-red: #fef3f2;
$black: #212425;
$black-2: #2c2c2c;
$light-black: #4e5d62;
$dark-black: #031418;
