@import "colors";

@mixin base-card-mixin {
  background-color: $snow-white;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@mixin base-label-mixin {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  color: $dark-black;
  font-size: 14px;
  line-height: 21px;
}

@mixin base-input-mixin {
  width: 100%;
  padding: 17px 16px;
  color: $dark-black;
  font-size: 14px;
  line-height: 21px;
  background: #fff;
  box-shadow: 0 10px 60px rgb(219 224 225 / 80%);
  border-radius: 10px;
}

@mixin store-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@mixin store-card-main {
  flex: 1;
  color: #fff;
  font-weight: 500;
  background-color: $blue;
  border-radius: 10px;
}

@mixin store-card-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 20px 0;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}

@mixin store-card-btn {
  width: 80px;
  padding: 0;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  border: none;
}

@mixin calendar-mixin {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 32px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 10px 60px rgba(178, 194, 210, 0.3);

  :deep() {
    .vc-header {
      padding: 13px 12px;
    }

    .vc-arrows-container {
      padding: 13px 12px;
    }

    .vc-arrow {
      width: 24px;
      height: 24px;

      &:hover {
        background-color: unset;
      }
    }

    .vc-btn {
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
    }

    .vc-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
    }

    .vc-weekday,
    .vc-day-content {
      color: $grey-3;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.02em;
    }

    .vc-weekday {
      line-height: 17px;
    }

    .vc-day-content {
      line-height: 21px;

      &.green {
        color: #fff;
        background-color: $green;
      }

      &.grey {
        background-color: $grey-100;
      }

      &.is-disabled {
        color: rgba($grey-3, 0.5);
      }
    }

    .vc-dot {
      background-color: $blue !important;

      &.red {
        background-color: $red-danger !important;
      }
    }
  }
}

@mixin bottom-sheet {
  // customizing of bottom-sheet styles
  :deep() {
    .bottom-sheet {
      &__card {
        border-radius: 12px 12px 0 0;
      }

      &__pan {
        height: auto;
        padding-top: 15px;
        padding-bottom: 50px;
      }

      &__bar {
        width: 66px;
        height: 4px;
        background: $grey-3;
        border-radius: 19px;
      }

      &__content {
        color: $grey-3;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
